
  Title:<input id="bookTitle" type="text" class="form-control" placeholder="Enter title...">
  Price:<input id="bookPrice" type="number" class="form-control" placeholder="Enter price...">
  ISBN:<input id="bookISBN" type="text" class="form-control" placeholder="Enter ISBN...">
  Comment:<input id="bookComment" type="text" class="form-control" placeholder="Enter comment..."><br>
  <input id="addBook" type="submit" class="form-control">
{% for book in books %}
  <h1>{{ book.title }}</h1>
  <div id="books">
    <table class="table table-hover">
      <thead><tr><th> Price </th><th> ISBN </th></tr></thead>
      <tbody><td>{{book.price}}$</td><td>{{book.isbn}}</td></tbody>
    </table>
  </div>
  <div id="comments">
    <table class="table table-hover">
      <thead><tr><th>Comments</th></thead>
      <tbody>{% for c in book.comments %}<tr><td>{{c}}</td></tr>{% endfor %}</tbody>
    </table>
  </div>
  <hr>
{% endfor %}



